/* CSS Document */
/*全局的样式设置*/
body{
    background-color:#EEF7FF;
	line-height: 18px;
	font-family:Arial, Verdana,  Helvetica, sans-serif;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
}


img{border:0px;}

a:link , a:visited {color:#393939;text-decoration: none;}
a:hover { color: #f60; text-decoration: none;}
.table,td{font-size: 12px;
	     line-height:17px;
	     font-family:Arial, Verdana,  Helvetica, sans-serif;color: #393939;}
		 
/*登录的样式设置*/
.input_login{
	border: 1px solid #9CA9AF;
	background-color:#ffffff;
	color:#363636;
	font-size:12px;
	height:15px;
	line-height:18px;
	width:100%;
}
		 

.toptable{background:url(../images/login/bg.gif) repeat-x;}
.black{ font-family: Arial, Helvetica, sans-serif; font-size:12px; line-height:22px; color:#7C7C7C;}
.hui{ font-family: Arial, Helvetica, sans-serif; font-size:12px; line-height:22px; color:#C3C4C4; padding-left:8px;}
